a.
- program should be able to receive list of ints as an input
- program should be able to sort the contents of its input arguments
- program should return the smallest int
- program should return error if the input was invalid
b. 
- program should be able to get 3 args as an input
- program should be able to check args
- program should be able to return output
